:root{
    --color: #FCB117;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100vh;
    width: 100%;
}

/*Navbar Styles*/
.somtitle{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; 
    text-align: center; 
    font-size: 40px;
}

.somtitles{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; 
    text-align: center; 
    font-size: 20px;
}

.logo{
    width: 200px;
    height: 40px;
}

.navicons{
    text-decoration: none;
    color: white!important; 
}

#navbarNav .a{
    color: white;
    font-size: 10px;
}

.nav-link{
    padding-top: 20px;
    font-size: 14px;
    color: white!important;
    text-transform: uppercase;
}

#formicons{
    margin-left: auto;
    margin-right: 0;
}

header a:hover{
    color: #FCB117!important;
}

.margins{
    background-color: black;
}

/*MediaQuery Styles*/
@media all and (max-width: 767px) {
    .flex-row{
        flex-direction: row!important;
    }

    .flex-row .icons{
        padding-right: 50px;
    }

    #formicons{
        margin-left: 43%;
    }

    .ulnavs{
        text-align: center;
    }

    .logo{
        /*margin-left: 23%!important;*/
        text-align: center!important;
    }

    .Services{
        margin-top: 550px!important;
    }

    .parallax{
        height: 50%!important;
    }

    .otro{
        text-align: center;
    }

    
    #perfil-drop{
        margin-left: auto!important;
        width: auto!important;
    }
}

/*NavBar IMG Styles*/
.drop-perfil{
    padding: 10px;
    margin: 0;
}

#img-Perfil{
    border-radius: 20%;
}

/*IMG Navbar*/

.circulo-Perfil{
    width: 30px;
    height: 30px;
    background-color: white;
    border-radius: 100%;
}

.circulo-Perfil img{
    width: 100%;
    height: 100%;
    border-radius: 100%;
}

/*IMG Navbar inside*/
.circulo-Perfil-In{
    width: 60px;
    height: 60px;
    background-color: white;
    border-radius: 100%;
}

.circulo-Perfil-In img{
    width: 100%;
    height: 100%;
    border-radius: 100%;
}


.user{
    margin-left: 50px;
}


.left{
    padding: 0;
}

.img-nameuser{
    height: 80px;
    border-bottom: 1px solid none;
}

.drop{
    color: white;
    font-size: 12px;
}

#perfil-drop{
    box-shadow: 2px 2px 10px #666;
    background-color: black;
    margin-left: -180px;
    margin-top: auto;
    width: 250px;
}

#perfil-drop a{
    color: white;
}

#perfil-drop a:hover{
    background-color: #18181B;
    color: white!important;
}

/*Div AboutUser*/
.aboutUser{
    margin-top: 15px;
    margin-bottom: 15px;
}

.infoUser{
    border-top: 1px solid white;
    padding-top: 15px;
    margin-bottom: 15px;
}

.closeUser{
    border-top: 1px solid white;
    padding-top: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.aboutUser, .infoUser, .closeUser{
    padding-left: 0;
}

/*Search input*/
#search{
    margin-top: 5px!important;
}

.form-control{
    height: 30px;
}

#input-search input{
    margin-top: 12px!important;
}


.position-top{
    position: absolute;
    top: 50%;

}


body #Cuerpo{
    overflow-x: hidden;
    padding-top: 0px;
}

.profile-header{
    background: #ffff;
    background-image: url(../img/descarga.jpg);
    background-position: 0% 9%;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    display: flex;
    height: 40vh;
    position: relative;
    box-shadow: 0px 3px 4px rgba(0,0,0,0.2);
}

.profile-header .profile-banner{
    background: #ffff;
    width: 100%;
    display: flex;
    height: 198px;
    position: relative;
    box-shadow: 0px 3px 4px rgba(0,0,0,0.2);
}



.profile-img{
    float: left;
    width: 348px;
    height: 288px;
}

.profile-img img{
    border-radius: 56%;
    height: 230px;
    width: 230px;
    border: 4px solid none;
    box-shadow: 6px 5px 10px rgba(0,0,0,0.2);
    position: absolute;
    left: 50px;
    top: 20px;
    z-index: 5;
    background: #ffff;
}

.profile-nav-info{
    float: left;
    flex-direction: column;
    justify-content: center;
    padding-top: 60px;
}

.profile-nav-info h3{
    font-variant: small-caps;
    font-size: 2rem;
    font-family: sans-serif;
    font-weight: bold;
}


.profile-nav-info .address{
    display: flex;
    font-weight: bold;
    color: #2a2828;
}

.profile-nav-info .address p{
    margin-right: 5px;
}

.profile-option {
    width: 40px;
    height: 40px;
    background: #FCB117;
    position: absolute;
    right: 50px;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all .5s ease-in-out;
    outline: none;
}

.profile-option .notification i{
    color: #ffff;
    font-size: 1.2rem;
    transition: all .5s ease-in-out;
}

.profile-option:hover{
    background: #ffff;
    border: 1px solid #FCB117;
}

.profile-option:hover .notification i{
    color: #F16F21;
}

.profile-option .notification .alert-message{
    position: absolute;
    top: -5px;
    right: -5px;
    background: #ffff;
    color: var(--color);
    border: 1px solid;
    padding: 5px;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    display: flex;
    justify-content: center;
    font-size: .8rem;
    font-weight: bold;
}

.main-bd{
    width: 100%;
    display: flex;
    padding-right: 15px;
}

.profile-side{
    width: 300px;
    background: #ffff;
    box-shadow: 0px 3px 5px rgba(0,0,0,0.2);
    padding: 90px 30px 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-left: 10px;
    z-index: 99;
}

.profile-side p{
    margin-bottom: 7px;
    color: #333333;
    font-size: 14px;
}


.profile-side p i{
    color: var(--color);
    margin-right: 10px;
}

.mobile-number i{
    transform: rotateY(180deg);
}

.profile-btn{
    display: flex;
}

button.chatbtn,
button.createbtn{
    border: 0;
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    background: var(--color);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1rem;
    margin: 5px 2px;
    cursor: pointer;
    outline: none;
    margin-bottom: 10px;
    transition: background .3s ease-in-out;
    box-shadow: 0px 5px 7px 0px rgba(0,0,0,0.2);
    color: #ffff;
}

button.chatbtn:hover,
button.createbtn:hover{
    background: rgba(241, 111, 33, .9);
}

button.chatbtn i,
button.createbtn i{
    margin-right: 5px;
}

.user-rating{
    display: flex;
}

.user-rating h3{
    font-size: 2.0rem;
    font-weight: 200;
    margin-right: 5px;
    letter-spacing: 1px;
    color: #666666;
}

.user-rating .no-user{
    font-size: .9rem;
}

.rate{
    padding-top: 6px;
}

.rate i{
    font-size: .9rem;
    color: var(--color);
}

.nav{
    width: 100%;
    z-index: -1;
}

.right-side{
    width: 100%;
}

.nav ul{
    display: flex;
    justify-content: center;
    list-style-type: none;
    width: 100%;
    height: 40px;
    background: #ffff;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.3);
}

.nav ul li{
    padding: 10px;
    width: 100%;
    cursor: pointer;
    text-align: center;
    transition: all .2s ease-in-out;
}

.nav ul li.active,
.nav ul li:hover{
    box-shadow: 0px -3px 0px rgba(241, 111, 33, .9) inset;

}

.profile-body{
    width: 100%;
    z-index: -1;
}

.tab{
    padding: 20px;
    width: 100%;
    text-align: center;
    display: none;
}

#see-more-bio,
#see-less-bio{
    color: blue;
    cursor: pointer;
    text-transform: lowercase;
}

@media(max-width: 968px){
    body #Cuerpo{
        margin: 0 0;
        width: 100%;
    }

    .profile-header{
        display: flex;
        height: 100%;
        flex-direction: column;
        text-align: center;
        padding-bottom: 20px;
    }

    .profile-img{
        float: left;
        width: 100%;
        height: 200px;
    }

    .profile-img img{
        position: relative;
        left: 0;
    }

    .profile-nav-info{
        text-align: center;
    }

    .profile-nav-info .address{
        justify-content: center;
    }

    .profile-option{
        right: 20px;
        top: 75%;
        transform: translateY(50%);
    }

    .main-bd{
        flex-direction: column;
        padding-right: 8px;
    }

    .profile-side{
        width: 100%;
        text-align: center;
        padding: 20px;
        margin: 5px 0;
    }

    .user-rating{
        justify-content: center;
    }


    @media(max-width: 400px){
        body #Cuerpo{
            margin: 5px;
        }

        .profile-header h3{
            font-size: 1.7rem;
        }

        .profile-header p,
        .profile-header span{
            font-size: .9rem;
        }

        .profile-option{
            width: 30px;
            height: 30px;
            position: absolute;
            right: 15px;
            top: 83%;
        }

        .profile-option .notification .alert-message{
            top: -3px;
            right: -4px;
            padding: 4px;
            height: 15px;
            width: 15px;
            font-size: .7rem;

        }
    }
}




.all-products{
    margin-top: 70px;
}

.input-Product{
    margin-top: 50px;
    margin-bottom: 50px;
}


:root{ --main-color: #e74c3c; }
.product-grid{
    font-family: 'Roboto', sans-serif;
    position: relative;
}


.product-grid .product-image{
    overflow: hidden;
    position: relative;
}


.product-grid .product-image:before{
    content: "";
    background: rgba(0,0,0,0.3);
    width: 100%;
    height: 100%;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    transition: all 0.4s ease-out 0s;
}


.product-grid:hover .product-image:before{ opacity: 1; }
.product-grid .product-image a{ display: block; }
.product-grid .product-image img{
    width: 100%;
    height: 100%;
}


.product-image .pic-1{
    opacity: 1;
    backface-visibility: hidden;
    transition: all 0.4s ease-out 0s;
}


.product-grid:hover .product-image .pic-1{ opacity: 0; }
.product-image .pic-2{
    width: 100%;
    height: 100%;
    opacity: 0;
    backface-visibility: hidden;
    transform: scale(3);
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.4s ease-out 0s;
}


.product-grid:hover .product-image .pic-2 {
    opacity: 1;
    transform: scale(1);
}


.product-image .product-trend-label,
.product-image .product-discount-label{
    content: "";
    color: #fff;
    background-color: #2ecc71;
    font-size: 12px;
    line-height: 28px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    padding: 0 7px;
    position: absolute;
    top: 12px;
    left: 12px;
    z-index: 3;
}


.product-image .product-discount-label{
    background-color: var(--main-color);
    left: auto;
    right: 12px;
}


.product-grid .social {
    padding: 0;
    margin: 0;
    list-style: none;
    transform: translateY(-50%);
    position: absolute;
    top: 50%;
    left: 10px;
    z-index: 4;
}


.product-grid .social li {
    margin: 0 0 12px;
    opacity: 0;
    transform: translateX(-60px);
    transition: transform .3s ease-out 0s;
}


.product-grid:hover .social li {
    opacity: 1;
    transform: translateX(0);
}


.product-grid:hover .social li:nth-child(2){ transition-delay: 0.1s; }
.product-grid:hover .social li:nth-child(3){ transition-delay: 0.2s; }
.product-grid:hover .social li:nth-child(4){ transition-delay: 0.3s; }
.product-grid .social li a {
    color: #fff;
    font-size: 22px;
    transition: all 0.3s;
}


.product-grid .social li a:hover { color: var(--main-color); }
.product-grid .social li a:before,
.product-grid .social li a:after{
    content: attr(data-tip);
    color: #000;
    background: #fff;
    font-size: 14px;
    padding: 5px 10px;
    white-space: nowrap;
    display: none;
    transform: translateY(-50%);
    position: absolute;
    left: 33px;
    top: 50%;
    transition: all 0.3s;
}


.product-grid .social li a:after{
    content: '';
    background: linear-gradient(-45deg, #fff 49%, transparent 50%);
    width: 10px;
    height: 10px;
    top: 40%;
    left: 20px;
}


.product-grid .social li a:hover:before,
.product-grid .social li a:hover:after{
    display: block;
}


.product-grid .product-content{ padding: 12px 0; }
.product-grid .title{
    font-size: 15px;
    font-weight: 400;
    text-transform: capitalize;
    margin: 0 0 5px;
}



.product-grid .title a{ color: #959595; }
.product-grid .title a:hover{ color: var(--main-color); }
.product-grid .price{
    color: #333;
    font-size: 14px;
    font-weight: 400;
}


.product-grid .price span{
    color: #333;
    text-decoration: line-through;
    margin-right: 3px;
}


.product-grid .price.discount{ color: var(--main-color); }
@media only screen and (max-width:990px){
    .product-grid{ margin-bottom: 30px; }
}

.empresas .product-grid .product-image a {
    display: block;
    height: 150px;
    width: auto;
}

.empresas .col{
    padding-bottom: 70px;
}

/*Footer*/
p{
    color: #999999;
    line-height: 25px;
}

footer h2,
footer h3{
    color: #fff;
}

footer h2{
    font-size: 18px;
}

.footer-top{
    background: #111;
    padding: 80px 0;
}

.segment-one h2{
    font-family: 'Courgette', cursive;
    color: #fff;
    letter-spacing: 3px;
    margin: 10px 0;
}

.segment-two h2:before{
    content: '|';
    color: #c65039;
    padding-right: 10px;
}

.segment-two ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

.segment-two ul li{
    border-bottom: 1px solid rgba(255,255,255,0.3);
    line-height: 40px;
}

.segment-two ul li a{
    color: #999999;
    text-decoration: none;
}

.segment-three h2{
    color: #ffffff;
    text-transform: uppercase;
}

.segment-three h2:before{
    content: '|';
    color: #c65039;
    padding-right: 10px;
}

.segment-three a{
    background: #494848;
    width: 40px;
    height: 40px;
    display: inline-block;
    border-radius: 50%;

}

.segment-three a i{
    font-size: 20px;
    color: #fff;
    padding: 10px 12px;
}

.segment-four h2{
    color: #ffffff;
    text-transform: uppercase;
}


.segment-four h2:before{
    content: '|';
    color: #c65039;
    padding-right: 10px;
}


.segment-four form input[type=submit]{
    background: #c65039;
    border: none;
    padding: 3px 15px;
    margin-left: -5px;
    color: #ffffff;
    text-transform: uppercase;
}

.segment-four form input[type=email]{
    width: 130px;
}

.footer-bottom-text{
    text-align: center;
    background: #000000;
    line-height: 76px;
    margin-bottom: 0;
}

@media only screen and (min-width: 768px) and (max-width: 991px){
    .md-mb-30{
        margin-bottom: 30px;
    }
}

@media only screen and (min-width: 767px){
    .sm-mb-30{
        margin-bottom: 30px;
    }

    .footer-top{
        padding: 50px 0;
    }
}

